// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get($columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}



@mixin respond($breakpoint) {
    @if $breakpoint == x-small {
        @media only screen and (max-width: 35.999em) { @content };        
    }
    @if $breakpoint == small {
        @media screen and (max-width: 47.999em) { @content };               
    }
    @if $breakpoint == medium {
        @media screen and (max-width: 61.999em) { @content };              
    }
    @if $breakpoint == large {
        @media screen and (max-width: 74.999em) { @content };              
    }
    @if $breakpoint == x-large {
        @media screen and (max-width: 87.499em) { @content };
    }
}