button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: hsl(var(--clr-primary));
	border-radius: 3px;
	background-color: hsl(var(--clr-primary));
	color: hsl(var(--gray-0));
	line-height: 1;
	padding: 1rem 2rem;
	cursor: pointer;
	transition: all .25s ease;

	&:hover {
		background-color: hsla(var(--clr-primary),.9);
	}

	&:active,
	&:focus {
		border-color: hsl(var(--clr-primary));
	}
}
