a {
	color: hsl(var(--clr-secondary));	
	text-decoration: none;
	
	&:visited {
		color: hsl(var(--clr-secondary));
	}

	&:hover,
	&:focus,
	&:active {
		color: hsla(var(--clr-secondary), .9);
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}


